
body{
    display: flex;
    flex-direction:column;
    align-items:  center;

}
#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#gridText{
    text-align: center;
}
.navBarItem{
    margin: 2%;
}
#container {
    display: flex;
    background-color: black;
    border: solid black ;
    width: 30vw;
    height: 30vw;

}
.box-container{
    display: flex;
    justify-content: space-between;
    align-content:space-around;
    flex-basis: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.box{
    background-color: white;
}